@keyframes gradient {
  from {
    background-position: left center;
  }
  to {
    background-position: right center;
  }
}
@keyframes glow {
  from {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.11),
      0 1px 3px rgba(255, 255, 255, 0.2);
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
  to {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.11),
      0 1px 3px rgba(255, 255, 255, 0.6);
    outline: 1px solid rgba(255, 255, 255, 0.45);
  }
}

// transform: translateX(0vw) translateY(5vh) rotate(0deg) scale(0.6);
@keyframes bounce1 {
  0% {
    @include randomBall(true);
  }
  15% {
    @include randomBall;
  }
  40% {
    @include randomBall;
  }
  50% {
    @include randomBall;
  }
  80% {
    @include randomBall;
  }
  100% {
    @include randomBall(true);
  }
}

@keyframes bounce2 {
  0% {
    @include randomBall(true);
  }
  15% {
    @include randomBall;
  }
  40% {
    @include randomBall;
  }
  50% {
    @include randomBall;
  }
  80% {
    @include randomBall;
  }
  100% {
    @include randomBall(true);
  }
}

@keyframes bounce3 {
  0% {
    @include randomBall(true);
  }
  15% {
    @include randomBall;
  }
  40% {
    @include randomBall;
  }
  50% {
    @include randomBall;
  }
  80% {
    @include randomBall;
  }
  100% {
    @include randomBall(true);
  }
}
