@mixin bounceAnimation($animation, $length, $p1, $p2, $p3, $p4) {
  animation: $animation $length cubic-bezier($p1, $p2, $p3, $p4) infinite
    alternate;
}

@mixin randomBall($scale: false) {
  $randomX: 1 + floor(random(100) * ((100 - 1) + 1));
  $randomY: 1 + floor(random(100) * ((100 - 1) + 1));
  $randomScale: calc(random(10) / 10);

  @if $scale == false {
    transform: translateX($randomX + vw) translateY($randomY + vh);
  } @else {
    transform: translateX($randomX + vw)
      translateY($randomY + vh)
      scale($randomScale);
  }
}
